body {
    overflow-x: hidden;    
    margin: 0px;
}

header {
    overflow-x: hidden;
}

footer {
    font-family: "Raleway";
    text-align: center;
    overflow-x: hidden;
}

.main {
    /* Sizing */
    width: 97vw;
    height: 90vh;
    margin: auto;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    font-family: "Raleway";
    font-size: 3vh;
    color: white;
    
    /* Background styles */
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(""); */
    background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('images/gray_background.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    height: 100vh;    
    display: flex;    
    text-align: center;
}

.header {    
    font-family: "Raleway";
    float: right;
    color: black;    
    padding: 25px 15px;    
}

.header a {
    margin: 15px;
    color: black;
    text-decoration: none;
}

#logo {
    position: absolute;
    left: -10px;
    top: -17px;
    margin: 20px;
    font-size: 24px;
    float: left;
    width: 250px;
}